body{
    background-color: white;
    
}

form{
    display: grid;
    grid-template-columns: 100px;



}

.inputnom{
    border-color: aquamarine;
    
}

.inputprenom{
    border-color: aquamarine;
}
