h1{
    color:white (129, 59, 194);
    background-color: white;
    color:black;
    border-bottom: 2px dotted black (129, 11, 226);
    margin: 0;
    padding: 0.8em;
    text-align: center;
}

h2{
    font-size: 2em;
    font-weight: normal;
    margin: 0;
    color:white (129, 59, 194);
    text-align: center;
    text-decoration-color: aliceblue;
    border-bottom: black;


 }

body{

        background-color: white;
        background-image: url("geode-amethyste.jpg");
        background-position: 25%;
        background-repeat: no-repeat;
        background-size: 100%;
        background-attachment: fixed;
    
    }

article{

    margin: 10%;
    margin-top: 2%;
    border-radius: 20;
    

}

.header{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    color:black;
}

body {
    font-family: "Trebuchet MS";
}
.menu {
    display: flex;                /* Transformation en flexbox */
    padding:0;                    /* Suppression des marges internes */
    background-color: #ccc;       /* Ajout de la couleur d'arrière-plan */
    justify-content: space-around;/* Alignements des liens dans le menu */
}
.menu li {
    list-style-type: none ;       /* Suppression des puces */
  
}
.menu a {
    display:block;                /* Transformation en block */
    min-width: 120px;             /* Largeur minimale des liens */   
    
    margin: 0.5rem;               /* Marges externes */
    padding: 0.4rem 0;            /* Marges internes */
    text-align: center;           /* Centrage du texte */   
    background-color:#9c0fee;    /* Arrière-plan */
    color: #fff;                  /* Couleur du texte */
    text-decoration: none;        /* Suppression du soulignement */
    border: 1px solid #fff;       /* Ajout d'une bordure */
    border-radius: 4px;           /* Arrondis des bordures */
    
    transition: all 1s ;          /* Ajout des effets de transition */
}
.menu a.actif {    
    background-color: #000 ; 
    color:#9c0fee; ;
    border-color: #9c0fee;
}
.menu a:hover,
.menu a:hover.actif{
    background-color: white;
    color: rgb(143, 72, 137);
    border-color: #9c0fee;
}




p{
    margin-right: auto;
    border-left:#9c0fee;
}




 